body {
    background-image: url(bgr.jpeg)
}

H1 {
    text-align: center
}

ul {list-style:none
    
}
a {text-decoration: none; color:800000
    
}

.nav li {text-align:center
    
}
ul.nav a {display: inline-block
    
}
.stroke {
    font: 2em Arial, sans-serif;
    text-shadow: red 0 0 1px;}
    
.block1 { 
     
    background: #ccc;
    padding: 50px;
    padding-right: 200px; 
    border: solid 1px black; 
    float: center}
    
.ac {
    text-align: center;
}